
.search_result {display: none;}

.skipnavi {
    position: relative;
}
.skipnavi a {
    position: absolute;
    left: 0;
    top: -999px;
    z-index: 9;
    width:100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    background: gray;
    
}
.skipnavi a:focus,
.skipnavi a:active,
.skipnavi a:hover {
    top: 0;
}
.gnb {
    display: flex;
}
.gnb >  li {
    flex: 1;
    position: relative;
}
.gnb > li > a {

    height:50px;
    position: relative;
    z-index: 2;
}

.gnb > li > a:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width:0; 
    height:3px; 
    background-color: darkred;
    opacity: 0;
    z-index: 3;
    transition: all .2s;
}
.gnb > li > a.router-link-exact-active:after,
.gnb > li:hover > a:after {
    width: 100%;
    left: 0;
    opacity: 1;
    transition: all .2s;
}
.gnb > li:hover > .sub-menu {
    z-index: 1;
    top: 50px;
    transition: all .2s;
}

.gnb > li > a.router-link-exact-active:after,
.gnb > li:focus > a:after {
    width: 100%;
    left: 0;
    opacity: 1;
    transition: all .2s;
}

.gnb > li:hover > a + .sub-menu {
    z-index: 1;
    top: 50px;
    transition: all .2s;
}

.gnb .sub-menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -3;
    overflow: hidden;
    transition: all .2s;
}
.gnb a {
    display: flex;
    background: #000;
    color:#fff !important;
    justify-content: center;
    align-items: center;
}
.gnb .sub-menu > li > a {
    color:#fff;
    font-size:14px;
    height:40px;
}
.gnb .sub-menu > li > a:hover {
    background:#333
}

td.new {color:red; font-weight: bold;}

table.b-table[aria-busy='true'] {
    opacity: 0.6;
    background: red;
  }
  table.b-table td {
      vertical-align: middle;
  }

  .swiper-container {text-align: center;}
  .swiper-container .swiper-wrapper .swiper-slide {
      height: 300px;
      background:green;
  }